<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.repository.order.OrderItemRepository">

  <insert id="insert" useGeneratedKeys="true" keyProperty="orderItemId">
        INSERT INTO t_order_item (
          order_id, user_id, status
        )
        VALUES (
        #{orderId,jdbcType=INTEGER},
        #{userId,jdbcType=INTEGER},
        #{status,jdbcType=VARCHAR}
        )
   </insert>

  <select id="listByOrderId" resultType="com.dh.entity.order.OrderItem">
      SELECT
        order_item_id orderItemId,
        order_id orderId,
        user_id  userId,
        status
      FROM t_order_item_0 where order_id= #{orderId}
  </select>

</mapper>